/* empty for now */
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
    color: #2e2e2e;
    margin: 0;
}

a {
    text-decoration: underline;
    color: #22519B;
}

h1 {
    margin: 0px;
    font-size: 2em;
    text-align: center;
    font-family:Verdana, Geneva, sans-serif;
    color: white;
    line-height: 1em; 
}

h2 {
    margin: 0;
}

img {
    border-style: none;
    height:150px;
    width:150px;
}

hr {
    border: none;
    height: 2px;
    color: white;
    background-color: white;
    margin: 20px;
}

ul {
    list-style: none;
}

@media (min-width: 400px) {
nav {
    position: fixed;
    opacity: .9;
}
}

nav {
    background: #22519B;
    width: 100%;
    top: 0;
    z-index: 100;
    padding: 10px;
}

@media (min-width: 400px) {
#content {
    margin: 62px auto;
}
}
@media (max-width: 399px) {
#content {
    margin: 10px auto;
}
}
#content {
    max-width: 800px;
    background: #B8B8B8;
    border-radius: 15px;
    padding: 15px;
}

.IN-widget {
    display: block !important;
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.person-cell {
    border-bottom: solid 1px #EAEAEA;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.person {
    padding-left: 0.5em;
    display: inline-block;
    background: white;
    border-radius: 5px;
    padding: 12px;
    vertical-align: top;
    overflow: auto;
    max-width: 70%;
}
#bio .person {
    background: none;
}

.name {
    font-size: 18pt;
    color:white;
}

.location {
    font-weight: bold;
}

.topics {
}
.pic {
    display: inline-block;
}

.my-location {
    font-size: 12pt;
    color: white;
    background: #22519B;
    border-radius: 6px;
    padding: 8px 16px;
}

#homebutton {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

@media (min-width: 400px) {
form#home-form {
    float: left;
    position: absolute;
    top: 17px;
}
}

@media (max-width: 399px) {
form#home-form {
    text-align: center;
    margin-top: 5px;
}
}

input.user-input {
    font-size: 16pt;
    width: 20em;
    color: #555;
}
input.button {
    background-color: #eee;
    font-size: 15pt;
    border: 1px outset #aaa;
    padding-bottom: 1px;
}

.flashes {
    list-style: none;
}

#bio {
    margin-right: auto;
    margin-left: auto;
    max-width: 500px; 
}

#recommendations, #sponsor-recs {
    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
    padding-left: 0;
}

.clearfix {
    clear: both;
}

#login {
    margin: auto;
    max-width: 200px;
    margin-top: 30px;
}

#loading-gif {
    height: 50px;
    width: 50px;
    display: block;
    margin: auto;
}

#loading-message {
    text-align: center;
}

