<!doctype html>
<html>
    <head>
        <title>ConnectMe: {% block title %}Who should I talk to?{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></link>
    </head>
    <body>
        <a href="/"><img src="{{url_for('static', filename='logo.png')}}"
            title="ConnectMe" alt="ConnectMe"/></a>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class="flashes">
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <form action="{{url_for('recommend_form_response')}}" method="GET">
            <img src="{{url_for('static', filename='email2.png')}}"
            title="Enter your username or e-mail address:"
            alt="Enter your username or e-mail address:"
            />
            <div>
                <input type="text" class="user-input" name="username"/>
                <input type="submit" class="button" value="Connect me!"/>
            </div>
        </form>
    </body>
</html>

