{% extends "base.html" %}
{% block title %}You should talk to...{% endblock %}

{% block content %}
<h1>You are...</h1>
<table><tr>
  {% set person = yourself %}
  {% include "_person_cells.html" %}
</tr></table>
<h1>Your interests...</h1>
{% if yourself.num_charms > 0 %}
    <p>You have expressed interest in {{yourself.num_charms}} projects:
    <ul style="-moz-column-count: 3; column-count: 3;">
      {% for charm in yourself.charms %}{% if charm.projectname %}<li><b>{{charm.projectname}}</b> ({{charm.researchgroup}})</li>{% endif %}{% endfor %}</p>
    </ul>
    <p>which suggests that your interests may include: {{ concepts }}</p>
{% else %}
    <p>Your interests may include: {{ concepts }}</p>
{% endif %}
<h1>You should talk to...</h1>
<table>
    {% for user1, user2 in rec_pairs %}
    <tr>
      {% set person = user1 %}
      {% include "_person_cells.html" %}
      {% set person = user2 %}
      {% include "_person_cells.html" %}
   </tr>
    {% endfor %}
</table>
{% endblock %}

